/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Big Shoulders Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Big Shoulders Text Regular'), local('BigShouldersText-Regular'), url(https://fonts.gstatic.com/s/bigshoulderstext/v1/55xxezRtP9G3CGPIf49hxc8P0eytUxBcm4Z_.ttf) format('truetype');
}
@font-face {
  font-family: 'Mansalva';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mansalva Regular'), local('Mansalva-Regular'), url(https://fonts.gstatic.com/s/mansalva/v1/aWB4m0aacbtDfvq5NKliKYo.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v15/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhQ.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Playfair Display', serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif, Bold;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.containerHome {
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 100px;
}
nav button {
  border-radius: 45%;
  width: 200px;
  height: 50px;
  background: #99AA77;
  letter-spacing: 5px;
  margin: 0px 20px;
  position: relative;
  bottom: -22px;
}
.behindnav {
  border: 5px solid #99AA77;
  background-color: white;
  width: 75%;
  height: 21px;
  position: relative;
  bottom: -103px;
  left: 199px;
}
.behindheader {
  left: 230px;
  border: 10px solid #99AA77;
  background-color: white;
  width: 70%;
  height: 95px;
  position: relative;
  bottom: 20px;
}
.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  position: absolute;
}
.cards {
  width: 60%;
}
h1 {
  font-family: 'Mansalva', cursive;
  font-size: 4.5rem;
}
body {
  background-image: url("farmersmarketimage.png");
}
.cards {
  position: relative;
  bottom: 100px;
  margin: 0px 0px 0px 322px;
}
.mainbuttons {
  position: relative;
  bottom: 95px;
  width: 50%;
  flex-direction: column;
  font-family: 'Big Shoulders Text', cursive;
  height: 50px;
  display: flex;
  left: 220px;
  flex-direction: row;
  padding: 0px 0px 0px 390px;
}
#farmers_box {
  width: 200%;
  margin: 0px 10px 0px 10px;
}
#consumers_box {
  width: 200%;
  margin: 0px 10px 0px 10px;
}
button {
  border: 5px solid #556677;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Big Shoulders Text', cursive;
}
h2 {
  padding: 15px;
}
.background-boxes {
  border: 10px solid white;
  width: 80%;
  height: 100vh;
  position: absolute;
  margin: auto 160px;
}
.background-boxes #smaller-box-top {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  width: 100%;
  height: 20vh;
  border-right: none;
  border-left: none;
  position: relative;
  height: 31%;
  top: 123px;
}
.background-boxes #smaller-box-mid {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  width: 100%;
  height: 20vh;
  border-right: none;
  border-left: none;
  position: relative;
  height: 26%;
  top: 127px;
}
.background-boxes #smaller-box-bottom {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  width: 100%;
  height: 20vh;
  border-right: none;
  border-left: none;
  position: relative;
  top: 131px;
  height: 20%;
}
.mainbox {
  background: #99AA77;
  opacity: 0.4;
}
.bottom-content {
  position: relative;
  top: -64px;
  width: 65%;
  margin: 0px 0px 0px 274px;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 50px 0px;
}
.missionstatement {
  margin-top: 15px;
}
.aboutfarmfresh {
  margin-top: 15px;
  margin-bottom: 15px;
}
.upper-content {
  margin-top: 5px;
}
p {
  padding: 5px;
}
