
//font-family: 'Playfair Display', serif;
//font-family: 'Mansalva', cursive;
//font-family: 'Big Shoulders Text', cursive;


.containerHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: absolute;
    
  }
  .cards{
    width: 60%;
  }
  
  h1{
    font-family: 'Mansalva', cursive;
    font-size: 4.5rem;
  }
  body {
      background-image: url("farmersmarketimage.png");
    }
  
  .cards{
    position: relative;
    bottom: 100px;
    .centerWithMargins();
  }
  
  
  .mainbuttons{
    position: relative;
    bottom: 194px;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Big Shoulders Text', cursive;
    height: 50px;
    display: flex;
    left: 220px;
    flex-direction: row;
    padding: 0px 0px 0px 390px;
  }
  
  #farmers_box{
    width: 200%;
    margin: 0px 10px 0px 10px;
  }
  
  #consumers_box{
    width: 200%;
    margin: 0px 10px 0px 10px;
  }
  
  button{
    border: 5px solid @blue;
    border-radius: 20px;
    font-size:1.5rem;
    font-family: 'Big Shoulders Text', cursive;
    
  }
  
  
    
  
  h2{
    padding: 15px;
  }
  
  .background-boxes{
    border: 10px solid @white;
    width: 80%;
    height: 100vh;
    position: absolute;
    margin: auto 160px;
    #smaller-box-1{
      .boxstyling();
      width: 20%;
      height: 81%;
      top: 124px;
      
    }
    #smaller-box-2{
      .boxstyling();
      width: 20%;
      height: 81%;
      top: -434px;
      left: 270px;
    }
    #smaller-box-3{
      .boxstyling();
      width: 20%;
      height: 81%;
      top: -992px;
      left: 541px;
      
    }
    #smaller-box-4{
        .boxstyling();
        width: 25%;
        height: 44%;
        top: -1438px;
        left: 872px;
        
      }
  }
  
  .mainbox{
    .miniboxesstyling();
  }
  
 
  
  #tomato1{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 100px;
      left: 500px;
  }
  
  #tomato2{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 250px;
    left: 532px;
    
  }
  
 