
//font-family: 'Playfair Display', serif;
//font-family: 'Mansalva', cursive;
//font-family: 'Big Shoulders Text', cursive;




.containerHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: absolute;
    
  }
  .cards{
    width: 60%;
  }
  
  h1{
    font-family: 'Mansalva', cursive;
    font-size: 4.5rem;
  }
  body {
      background-image: url("farmersmarketimage.png");
    }
  
  .cards{
    position: relative;
    bottom: 100px;
    .centerWithMargins();
  }
  
  
  .mainbuttons{
    position: relative;
    bottom: 194px;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Big Shoulders Text', cursive;
    height: 50px;
    display: flex;
    left: 220px;
    flex-direction: row;
    padding: 0px 0px 0px 390px;
  }
  
  #farmers_box{
    width: 200%;
    margin: 0px 10px 0px 10px;
  }
  
  #consumers_box{
    width: 200%;
    margin: 0px 10px 0px 10px;
  }
  
  button{
    border: 5px solid @blue;
    border-radius: 20px;
    font-size:1.5rem;
    font-family: 'Big Shoulders Text', cursive;
    
  }
  
  
    
  
  h2{
    padding: 15px;
  }
  
  .background-boxes{
    border: 10px solid @white;
    width: 80%;
    height: 100vh;
    position: absolute;
    margin: auto 160px;
    #smaller-box-1{
      .boxstyling();
      width: 20%;
      height: 81%;
      top: 124px;
      
    }
    #smaller-box-2{
      .boxstyling();
      width: 20%;
      height: 81%;
      top: -434px;
      left: 270px;
      
    }
    #smaller-box-3{
      .boxstyling();
      width: 20%;
      height: 81%;
      top: -992px;
      left: 541px;
      
    }
    #smaller-box-4{
        .boxstyling();
        width: 25%;
        height: 44%;
        top: -1438px;
        left: 872px;
        
      }
  }
  
  .mainbox{
    .miniboxesstyling();
  }
  
 
  
  #tomato1{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 100px;
      left: 500px;
  }
  
  #tomato2{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 250px;
    left: 532px;
    
  }
  
 .border{
     border-top: 5px dotted @white;
     width: 200px;
     position: absolute;
        
     }
 
#border1{
    position: relative;
    left: 195px;
    bottom: -100px;
}

#border2{
    position: relative;
    bottom: -95px;
    left: 466px;
}

#border3{
    position: relative;
    left: 737px;
    bottom: -90px;
}

.profiles{
    border: 2px dashed @blue;
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    font-size: 1.5rem;
}

#Myco{
    position: relative;
    left: 170px;
    bottom: 146px;
}

#Jason{
    position: relative;
    left: 170px;
    bottom: 79px;
    .biotext{
      font-size: 0.8rem;
      }
}

#Tolu{
    position: relative;
    left: 439px;
    bottom: 546px;
}

#Armando{
    position: relative;
    left: 439px;
    bottom: 479px;
}

#Jasmine{
    position: relative;
    left: 712px;
    bottom: 946px;
}

#Jose{
    position: relative;
    left: 712px;
    bottom: 880px;
      .bio{
        left: -111px;
      }
}

#Katie{
    position: relative;
    left: 1072px;
    bottom: 1231px;
}

.profilepic{
    border-radius: 50%;
    width: 100px;
    height: 120px;
    position: relative;
    right: 24px;
    top: 50px;
    border: 4px solid @blue;
    
}

.content{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 23px;
    bottom: 50px;
}

.name{
    position: relative;
    bottom: 20px;
    font-size: 2.5rem;
    font-family: 'Mansalva', cursive, Bold;
    left: 5px;
}

.github_btn{
    width: 50%;
    position: relative;
    top: -38px;
    right: -6px;
        &&:hover{
            background: @light-green;
        }
}

.bio{
    position: relative;
    left: -130px;
    bottom: 35px;
}

.title{
    position: relative;
    bottom: 38px;
    right: -6px;
}

.biotext{
    font-size: 1.0rem;
    position: relative;
    bottom: 40px;
    right: 20px;
}

.navbuttons{
    &&:hover{
        background: @white;
    }
}

.stars_img{
 &&:hover{
     background: @white;
 }
}


