// Home Content


//font-family: 'Playfair Display', serif;
//font-family: 'Mansalva', cursive;
//font-family: 'Big Shoulders Text', cursive;


.containerHome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  position: absolute;
  
}
.cards{
  width: 60%;
}

h1{
  font-family: 'Mansalva', cursive;
  font-size: 4.5rem;
}
body {
    background-image: url("farmersmarketimage.png");
  }

.cards{
  position: relative;
  bottom: 100px;
  .centerWithMargins();
}


.mainbuttons{
  position: relative;
  bottom: 95px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: 'Big Shoulders Text', cursive;
  height: 50px;
  display: flex;
  left: 220px;
  flex-direction: row;
  padding: 0px 0px 0px 390px;
}

#farmers_box{
  width: 200%;
  margin: 0px 10px 0px 10px;
}

#consumers_box{
  width: 200%;
  margin: 0px 10px 0px 10px;
}

button{
  border: 5px solid @blue;
  border-radius: 20px;
  font-size:1.5rem;
  font-family: 'Big Shoulders Text', cursive;
  
}


  

h2{
  padding: 15px;
}

.background-boxes{
  border: 10px solid @white;
  width: 80%;
  height: 100vh;
  position: absolute;
  margin: auto 160px;
  #smaller-box-top{
    .boxstyling();
    height: 31%;
    top: 123px;
  }
  #smaller-box-mid{
    .boxstyling();
    height: 26%;
    top: 127px;
  }
  #smaller-box-bottom{
    .boxstyling();
    top: 131px;
    height: 20%;
    
  }
}

.mainbox{
  .miniboxesstyling();
}



.bottom-content{
  position: relative;
  top: -64px;
  width: 65%;
  margin: 0px 0px 0px 274px;
}

footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 50px 0px;
}

.missionstatement{
  margin-top: 15px;
}

.aboutfarmfresh{
  margin-top: 15px;
  margin-bottom: 15px;
}

.upper-content{
  margin-top: 5px;
}
p{
  padding: 5px;
}