// Home Content


//font-family: 'Playfair Display', serif;
//font-family: 'Mansalva', cursive;
//font-family: 'Big Shoulders Text', cursive;


.containerHome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  position: absolute;
  
}

h1{
  font-family: 'Mansalva', cursive;
  font-size: 4.5rem;
}
body {
    background-image: url("farmersmarketimage.png");
  }

.cards{
  position: relative;
  bottom: 100px;
}


.mainbuttons{
  position: relative;
  bottom: 90px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
      

}


#farmers_box{

}




button{
  border: 5px solid @blue;
  border-radius: 20px;
  font-size:1.5rem;
}



h2{
  padding: 15px;
}

.background-boxes{
  border: 10px solid @white;
  width: 80%;
  height: 100vh;
  position: absolute;
  margin: auto 160px;
  #smaller-box-bottom{
    top: 510px;
    .boxstyling();
  }
}

.mainbox{
  background: @light-green;
  opacity: 0.4
}

.bottom-content{
  position: relative;
  top: -69px;
}

footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 50px 0px;
}

